<h1>Games#index</h1>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col" id='log-panel'>
      canvas
    </div>
    <div class="col" id='log-panel'>
      logs
    </div>
  </div>
</div>

