<h1 class="text-center">Stomach & Chip & Nothing</h1>
<div class="container">
  <div class="row align-items-start">
    <div class="col-8" id='log-panel'>
      <canvas id="world" height=800 width=800 data-controller="canvas"></canvas>
    </div>
    <div class="col-4" id='log-panel'>
      logs
    </div>
  </div>
</div>

