<h1 class="text-center">Stomach & Chip & Nothing</h1>
<div class="container">
  <div class="row align-items-start">
    <div class="col-8" id='log-panel'>
    <%= turbo_frame_tag "canvas" do %>
      <%= link_to 'START', games_start_path %>
    <% end %>
    </div>
    <div class="col-4" id='log-panel'>
      logs
    </div>
  </div>
</div>

