<%= turbo_frame_tag "canvas" do %>
    <%= turbo_stream_from "status" %>
    <div class="container">
    <div class="row">
    <div class="col-4">RED</div>
    <div class="col-4">YELLOW</div>
    <div class="col-4">BLUE</div>
    </div>
    <div class="row">
    <div class="col-2">Soldiers</div>
    <div class="col-2">Fields</div>
    <div class="col-2">Soldiers</div>
    <div class="col-2">Fields</div>
    <div class="col-2">Soldiers</div>
    <div class="col-2">Fields</div>
    </div>
    <div class="row" id="status">
    <div class="col-2">N/A</div>
    <div class="col-2">N/A</div>
    <div class="col-2">N/A</div>
    <div class="col-2">N/A</div>
    <div class="col-2">N/A</div>
    <div class="col-2">N/A</div>
    </div>
    </div>
    <div data-controller="canvas" >
        <input data-canvas-target="worldID" type="hidden" value="<%= @world.id %>">
        <canvas data-canvas-target="canvas" id="world" height=800 width=800></canvas>
        <button data-action="click->canvas#move">Move</button>
    </div>
<% end %>
    